[submodule "EmbASP-Java"]
	path = EmbASP-Java
	url = https://github.com/DeMaCS-Unical/EmbASP-Java.git
[submodule "EmbASP-Python"]
	path = EmbASP-Python
	url = https://github.com/DeMaCS-Unical/EmbASP-Python.git
[submodule "EmbASP-CSharp"]
	path = EmbASP-CSharp
	url = https://github.com/DeMaCS-Unical/EmbASP-CSharp.git
