<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.CodeGenerator" version="4.6.6" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.Runtime.Standard" version="4.7.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>